*{
margin: 5px;
}
h1{
    background-color: antiquewhite;
    padding: 10px;
    text-align: center;
    margin: 10px;
   /* width: 50%; */
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    background-color: antiquewhite;
    padding: 10px;
    text-align: center;
    margin: 10px;
   /* width: 50%; */
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

